	@font-face { font-family: 'paybooc-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

	#chart{
		width: 890px;
		float: left;
	}

	.category{
		width:  860px;
		clear: both;
	}
	.header{
		width: 830px;
		height: 38px;
		font-family: 'paybooc-Bold';
		font-size: 32;
		border: 5px solid black;
		padding: 10px;
		margin-bottom: 10px;
		background-color: rgba(0,0,0, 0.2);
	}

	.content{
		width: 845px;
		float: left;
		padding: 5px;
		padding-left: 10px;
	}

	.wrapper{
		float: left;
		width : 100px; height : 145px;
		margin-right: 5px;
		margin-bottom: 3px;
	}

	.border{
		width: 80px; height: 80px;
		border: 5px solid;
	}

	img.ch_img{
		position: absolute;
		width: 80px;
	}

	.box_opacity{
		position: absolute; 
		background-color: black;
		width : 80px; height : 80px; 
	}

	.text{
		width: 90px; 
		font-family: 'paybooc-Bold';
		font-size: 18;
		text-align: center;
	}

	.text div{
		display: table-cell; 
		vertical-align: bottom; 
		text-align :right; 
	}

	.info{
		position: relative;
		width: 100px;
		left: -15px; top: -15px;
	}
	.attr{
		float: left; 
		width: 28px; height: 28px;
		border-radius: 50%;
		margin-right: 2px;
	}

	.weapon{
		float: left;
		width: 25px; height: 25px;
		border-radius: 50%;
		border: 1px solid black;
		margin-right: 2px;
	}

	.tactic{
		float: left;
		width: 27px; height: 27px;
		border-radius: 50%;
	}
	
	a{
		color: white;
		text-decoration: none;
	}

	#sidebar{
		float: left;
	}

	.btn{
		font-size: 30;
		padding: 5px;
		display: block;
		margin-top: 10px;
	}
	#show_only_on{

	}

	#show_all{

	}

	#machine_only{

	}

	#life_only{

	}

	#spirit_only{

	}

	#quarantine_only{

	}

	#erode_only{

	}